@{
    Layout = null;
}
@model IEnumerable<JoJobsessed.Models.Product>
<html>
<head>
    <link href="~/css/catalog.css" rel="stylesheet">
    <title>Каталог</title>
</head>
<body>
    <header>
        <div class="container-borders">
            <div class="header">
                <div class="logo">n</div>
                <div class="navigation">
                    <a href="@Url.Action("main")">Главная</a>
                    <a href="@Url.Action("catalog")">Каталог</a>
                    <a href="@Url.Action("cart")">Корзина</a>
                    <a href="@Url.Action("tech_support")">Техподдержка</a>
                </div>
            </div>
        </div>
    </header>
    <section>
        <div class="container">
            <div class="container-borders">
                <table class="table">
                    @foreach (var item in Model){
                        <tr>
                            <td>
                                @item.NameProduct
                            </td>
                            <td>
                                <a href="/Home/AddToCart?ID=@item.IdProduct">Добавить</a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="copyright">
            ©Copyright 1987-2022 JoJobsessed.com™. Все права защищены.
        </div>
        <div class="contacts">
            <div сlass="contact">
                Телефон: 7 (900) 977 77 35
            </div>
            <div class="contact">
                E-Mail: jojobsessed@mail.ru
            </div>
            <div class="contact">
                Ул. Йошикаге, д. №4, с. №4
            </div>
        </div>
    </footer>
</body>
</html>